@font-face {
    font-family: 'Norse';
    src: url('/assets/fonts/Norse.woff2') format('woff2'),
        url('/assets/fonts/Norse.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Norse';
    src: url('/assets/fonts/Norse-Bold.woff2') format('woff2'),
        url('/assets/fonts/Norse-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

body {
    background-image: url('/assets/images/hugues-de-buyer-mimeure-lQPEChtLjUo-unsplash.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: flex-end;
}

.banner {
    background-color: rgba(0, 0, 0, 0.5);
    width: 40vw;
    margin-top: 160px;
}

.logo {
    padding: 16px;
    display: flex;
    justify-content: center;
}

.logo-image {
    width: 20%;
}

.logo-name {
    font-family: "Norse", sans-serif;
    font-size: 6rem;
    color: #fff;
    margin: 40px 0;
}

.form-container {
    background-color: #fff;
    width: 60vw;
    height: 100vh;
}