@font-face {
    font-family: 'Norse';
    src: url('/assets/fonts/Norse.woff2') format('woff2'),
        url('/assets/fonts/Norse.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Norse';
    src: url('/assets/fonts/Norse-Bold.woff2') format('woff2'),
        url('/assets/fonts/Norse-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

body {
    background-image: url('/assets/images/hugues-de-buyer-mimeure-lQPEChtLjUo-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.8rem;
}

.container {
    display: flex;
    justify-content: flex-end;
    height: 100vh;
}

.logo-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 400px;
}

.banner {
    background-color: rgba(0, 0, 0, 0.5);
    width: 35vw;
}

.logo {
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-image {
    width: 75px;
    height: 100px;
}

.logo-name {
    font-family: "Norse", sans-serif;
    font-size: 5rem;
    color: #fff;
    margin: 0;
}

.attribution {
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.8rem;
    color: #fff;
    text-align: center;
    padding: 12px;

    &>a {
        color: #fff;
    }
}

.form-container {
    background-color: #fff;
    width: 65vw;
    padding: 48px;
}