@font-face {
    font-family: 'Norse';
    src: url('assets/fonts/Norse.woff2') format('woff2'),
        url('assets/fonts/Norse.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Norse';
    src: url('assets/fonts/Norse-Bold.woff2') format('woff2'),
        url('assets/fonts/Norse-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

body {
    background-image: url('assets/images/hugues-de-buyer-mimeure-lQPEChtLjUo-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

label {
    font-size: 0.8rem;
}

input {
    width: 250px;
    margin: 4px 0 16px;
    padding: 4px;
    border: 1px solid #E5E7EB;
    border-radius: 4px;
}

input:focus {
    outline: 1px solid blue;
    box-shadow: 0 5px 5px rgb(0 0 0 / 10%);
}

input[type="password"]:user-invalid,
input[type="password"]:not(:focus) {
    border: 1px solid red;
}

button {
    background-color: #faa585;
    color: #fff;
    font-size: 1rem;
    font-weight: 800;
    border: none;
    border-radius: 8px;
    padding: 12px 48px;
    margin-top: 16px;
    box-shadow: 0 5px 5px rgb(0 0 0 / 10%);
}

.container {
    display: flex;
    justify-content: flex-end;
    height: 100vh;
}

.logo-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 400px;
}

.banner {
    background-color: rgba(0, 0, 0, 0.5);
    width: 35vw;
}

.logo {
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-image {
    width: 75px;
    height: 100px;
}

.logo-name {
    font-family: "Norse", sans-serif;
    font-size: 5rem;
    color: #fff;
    margin: 0;
}

.attribution {
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.8rem;
    color: #fff;
    text-align: center;
    padding: 12px;

    &>a {
        color: #fff;
    }
}

.form-container {
    background-color: #f9fafb;
    width: 65vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-top,
.form-middle,
.form-bottom {
    padding-left: 48px;
}

.form-top {
    font-size: 0.6rem;
    padding-right: 200px;

    &>h1:nth-child(1) {
        padding-bottom: 24px;
    }
}

.form-middle {
    background-color: #fff;
    box-shadow: 0 5px 5px rgb(0 0 0 / 10%);
    margin: 24px 0;
    padding-bottom: 24px;

    &>h1 {
        padding: 16px 0 8px;
        font-size: 1.2rem;
    }
}

.form-column {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.form-row {
    display: flex;
    gap: 64px;

    & .left, .right {
        display: flex;
        flex-direction: column;
    }
}

.form-bottom p {
    font-size: 0.9rem;
    padding: 16px 0;

    &>a {
        text-decoration: none;
        color: #faa585;
        font-weight: 800;
    }
}
